<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">

        <table border="1">
            <tr>
                <td>id</td>
                <td>name</td>
                <td>gender</td>
                <td>age</td>
            </tr>
            <tr v-for="(u,i) in users" :key="i" v-if="u.gender=='女'">
                <td>{{i+1}}</td>
                <td>{{u.name}}</td>
                <td>{{u.gender}}</td>
                <td>{{u.age}}</td>
            </tr>

        </table>



    </div>
</body>
    <script>
      var app = new Vue({
          el:"#app",
          data:{
              users:[
                  {name:'柳岩', gender:'女', age: 21},
                  {name:'峰哥', gender:'男', age: 18},
                  {name:'范冰冰', gender:'女', age: 24},
                  {name:'刘亦菲', gender:'女', age: 18},
                  {name:'古力娜扎', gender:'女', age: 25}
              ]



          }



      })

    </script>
</html>